# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Local databases
*.db
*.sqlite
*.sqlite3

# PyCharm
.idea/

# Test cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db